<div class="co-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
    <form name="shoppingListForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Shopping Item" ng-model="shopingItem.itemName">
        </div>
        <div class="form-group">
            <button  type="button" ng-click="save()" class="btn btn-block btn-lg btn-success" >
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block btn-lg btn-success" >
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </button>
        </div>
        {{rp}}
    </form>

</div>